<%- include("partials/head") %>

    <body>
        <%- include("partials/navbar") %>
            <div class="container mt-5">
                <h1 class="text-center">User Management</h1>

           
                <div class="mb-4">
                    <form action="/admin/search-users" method="post">
                        <div class="input-group">
                            <input type="text" class="form-control" name="search" placeholder="Search by name or email"
                                aria-label="Search" required>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>

                <h2>Users</h2>
                <table class="table table-bordered border-dark border-2">
                    <thead class="thead-light bg-black text-white">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user=>{ %>
                            <tr class="fw-bold">
                                <td><%= user.name %> </td>
                                <td><%= user.email  %></td>
                                <td>
                                    <a href="/admin/edit-user/<%= user.id %>" class="btn btn-warning btn-sm">Edit</a>                                 
                                    <a href="/admin/toggle-user-status/<%= user.id %>" class="btn btn-success btn-sm" value="true" ><%= user.isBlocked === true ? "Unblock" : "Block" %></a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>

            <%- include("partials/scripts") %>
    </body>

    </html>