<%- include("partials/head") %>

  <body>
    <%- include("partials/navbar") %>

      <div class="container-fluid my-4">
        <h2>Manage Orders</h2>

        <div class="table-responsive">
          <table class="table table-striped fw-bold border-2 border-dark">
            <thead>
              <tr class="text-white bg-black">
                <th scope="col">Order ID</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Email</th>
                <th scope="col">Order Date</th>
                <th scope="col">Status</th>
                <th scope="col-2">Actions</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% orders.forEach(order=> { %>
                <tr>
                  <td>
                    <%= order.id %>
                  </td>
                  <td>
                    <%= order.user.name %>
                  </td>
                  <td>
                    <%= order.user.email %>
                  </td>
                  <td>
                    <%= new Date(order.orderDate).toLocaleDateString() %>
                  </td>
                  <td>
                    <form action="/update-order-status/<%= order.id %>" method="post">
                      <select class="form-select form-select-sm" name="orderStatus" >
                        <option value="pending" <%=order.status==="pending" ? "selected" : "" %>>Pending</option>
                        <option value="shipped" <%=order.status==="shipped" ? "selected" : "" %>>Shipped</option>
                        <option value="Delivered" <%=order.status==="Delivered" ? "selected" : "" %>>Delivered</option>
                        <option value="canceled" <%=order.status==="canceled" ? "selected" : "" %>>Canceled</option>
                      </select>
                    </form>
                  </td>
                  <td>
                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#orderDetailsModal">View</button>
                  </td>
                  <td>
                    <form action="/admin/delete-order/<%= order.id %>" method="post">
                      <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>

      <%- include("partials/scripts") %>

  </body>

  </html>