<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Truck Haulers Register</title>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<%- include("partials/head") %>

  <body >
    <div class="container-fluid d-flex justify-content-center align-items-center my-3" style="height: 100%">

      <div class="card px-4 mt-3 py-4 shadow-sm" style="width: 400px; border-radius: 10px">
        <h3 class="text-center ">User Registration</h3>

        <% if (message) { %>
          <div class="alert alert-danger" role="alert">
            <%= message %>
          </div>
          <% } %>


         
            <form action="/register" method="POST">

              <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input type="text" id="name" class="form-control border-primary" name="name"
                  value="<%= formData.name %>" required />
              </div>

              <div class="mb-3">
                <label class="form-label" for="phone">Phone Number</label>
                <input type="tel" id="phone" class="form-control border-primary" name="phone"
                  value="<%= formData.phone %>" required />
              </div>

              <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input type="email" id="email" class="form-control border-primary" name="email"
                  value="<%= formData.email %>" required />
              </div>

              <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input type="password" id="password" class="form-control border-primary" name="password" required />
              </div>

              <button type="submit" class="btn btn-primary w-100">Register</button>
            </form>

            <div class="mt-3 text-center">
              <p >
                Already have an account?
                <a href="/login" class="text-decoration-none">Login</a>
              </p>
            </div>
      </div>
    </div>

  </body>

  </html>